</main>
<footer class="footer">
    <p>&copy; <%= new Date().getFullYear()%> Itai Schneider All Rights Reserved.</p>
    <div class="social-icons">
        <!-- LinkedIn Profile -->
        <a href="https://www.linkedin.com/in/itai-schneider/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <!-- GitHub Profile -->
        <a href="https://github.com/itai137" target="_blank">
            <i class="fab fa-github"></i>
        </a>

        <!-- Facebook Profile -->
        <a href="https://www.facebook.com/itai.shneider" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
    <p>Copyright ©  </p>
</footer>
</body>

</html>



